USE [Techtalk]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 03/06/2026 4:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentAccess]    Script Date: 03/06/2026 4:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentAccess](
	[AccessId] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NULL,
	[EmployeeId] [int] NULL,
	[AccessDate] [datetime] NULL,
	[AccessType] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 03/06/2026 4:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [date] NULL,
	[DocType] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 03/06/2026 4:01:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DepartmentId] [int] NULL,
	[HireDate] [date] NULL,
	[Salary] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [Name]) VALUES (1, N'HR')
INSERT [dbo].[Departments] ([DepartmentId], [Name]) VALUES (2, N'Engineering')
INSERT [dbo].[Departments] ([DepartmentId], [Name]) VALUES (3, N'Sales')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentAccess] ON 

INSERT [dbo].[DocumentAccess] ([AccessId], [DocumentId], [EmployeeId], [AccessDate], [AccessType]) VALUES (1, 1, 1, CAST(N'2026-03-06T15:24:57.737' AS DateTime), N'Edit')
INSERT [dbo].[DocumentAccess] ([AccessId], [DocumentId], [EmployeeId], [AccessDate], [AccessType]) VALUES (2, 2, 2, CAST(N'2026-03-06T15:23:57.737' AS DateTime), N'Read')
INSERT [dbo].[DocumentAccess] ([AccessId], [DocumentId], [EmployeeId], [AccessDate], [AccessType]) VALUES (3, 3, 3, CAST(N'2026-03-06T15:22:57.737' AS DateTime), N'Edit')
GO
SET IDENTITY_INSERT [dbo].[DocumentAccess] OFF
GO
SET IDENTITY_INSERT [dbo].[Documents] ON 

INSERT [dbo].[Documents] ([DocumentId], [Title], [CreatedBy], [CreatedDate], [DocType], [Status]) VALUES (1, N'Document 1', 1, CAST(N'2026-03-05' AS Date), N'Report', N'Pending')
INSERT [dbo].[Documents] ([DocumentId], [Title], [CreatedBy], [CreatedDate], [DocType], [Status]) VALUES (2, N'Document 2', 2, CAST(N'2026-03-04' AS Date), N'Memo', N'Rejected')
INSERT [dbo].[Documents] ([DocumentId], [Title], [CreatedBy], [CreatedDate], [DocType], [Status]) VALUES (3, N'Document 3', 3, CAST(N'2026-03-03' AS Date), N'Contract', N'Approved')
GO
SET IDENTITY_INSERT [dbo].[Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [FirstName], [LastName], [DepartmentId], [HireDate], [Salary], [IsActive]) VALUES (1, N'Alice', N'Smith', 1, CAST(N'2018-01-15' AS Date), CAST(60000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Employees] ([EmployeeId], [FirstName], [LastName], [DepartmentId], [HireDate], [Salary], [IsActive]) VALUES (2, N'Bob', N'Johnson', 2, CAST(N'2019-03-22' AS Date), CAST(80000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Employees] ([EmployeeId], [FirstName], [LastName], [DepartmentId], [HireDate], [Salary], [IsActive]) VALUES (3, N'Carol', N'Williams', 3, CAST(N'2017-07-10' AS Date), CAST(75000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
ALTER TABLE [dbo].[DocumentAccess]  WITH CHECK ADD FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Documents] ([DocumentId])
GO
ALTER TABLE [dbo].[DocumentAccess]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
